.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 0;
    margin-bottom: 4rem;
    cursor: pointer;
    
    .card-body {

        .card-title {
            padding-right: 0.5rem;
            max-width: 170px;
        }

        .linha {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
